streamlit>=1.28.0
google-generativeai>=0.3.0 # deprecated
python-dotenv>=1.0.0
gtts>=2.4.0
SpeechRecognition>=3.10.0 # to enable audio features in tab1 - play translation
fuzzywuzzy # flexible string matching
python-Levenshtein # Levenshtein distance for fuzzy matching
#############################
# libraries no longer used are below
#############################
# streamlit
# google-genai
# python-dotenv
# audio-recorder-streamlit
# gTTS
# streamlit-webrtc>=0.45.0
# pydub>=0.25.1
# pygame>=2.5.0
#############################
